= paginate(@event_groups)

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th.header Service
      %th.header Message
      %th.header Type
      %th.header Env
      %th.header Last Occurrence
      %th
  %tbody
    - @event_groups.each do |event_group|
      %tr
        %td= link_to event_group.service, event_group_events_path(event_group)
        %td= link_to event_group.message.truncate(50), event_group_events_path(event_group)
        %td= link_to event_group.event_type, event_group_events_path(event_group)
        %td= link_to event_group.environment, event_group_events_path(event_group)
        %td= link_to event_group.last_recorded_at.to_s(:whoops_default), event_group_events_path(event_group)
        %td= link_to event_group.events.count, event_group_events_path(event_group)

= paginate(@event_groups)
