- content_for :header_title, t("Events")
- content_for :sidebar do
  %section
    %h3 Filters
    = form_for event_group_filter, :url => event_groups_path, :html => {:method => "get"} do |f|
      = hidden_field_tag 'updating_filters', true
      - filter_options.each do |field_name, options|
        %h4= field_name
        .control-group
          %ul.filter_selects.controls
            - options.each do |option|
              %li
                %label.checkbox
                  %input{:type => 'checkbox', :name => "whoops_filter[#{field_name}][#{option}]",:checked => filter_checked?(field_name, option)}
                  = option
  %section
    %h3 Keyword Search
    = form_tag event_groups_path, :method => "get" do |f|
      %ul.search.unstyled
        %li= text_field_tag :query
        %li= submit_tag "Submit", :class => "btn primary"

%article
  = render 'list'
