- content_for :header_title, "Event Details: #{@event_group.message}"
- content_for :sidebar do
  %section
    %h3 Instances
    = paginate @events, :previous_label => "", :next_label => ""
    %ul#instances
      - @events.each_with_index do |event, index|
        %li{:class => ("selected" if index == 0)}= link_to event.event_time.to_s(:whoops_default), event
  %section
    %h3.info-revealer
      Search
      = image_tag "/images/_ui/icn_info.png"
    %form
      %p
        For more on searching, see "Search Event Details" in the
        = link_to "documentation", "http://www.whoopsapp.com/#_search_event_details"

      %p= text_area_tag :query, params[:query]

      %p
        %button.btn.primary search
        %button.btn.secondary#reset reset

%article
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th.span4 Field
        %th Value
    %tbody
      - [:environment, :event_type, :last_recorded_at].each do |field|
        %tr
          %th= field.to_s.humanize
          %td= @event_group.send(field)

%article
  %header
    %h3 Details
  #event-details
    - if @events.empty?
      %p Your search returned no results.
    - else
      = render @events.first
